<form action="/content/syntax/highlight.html" method="post">
    <div id="source-options">
        #foreach($entry in $settings.get("current").entrySet())
            <div class="horizontal-option-wrapper">
                <input type="hidden" name="${entry.Key}" value="${entry.Value}"/>
                <div class="horizontal-option-current">
                    <img src="/pic/${entry.Value}.png" alt="${entry.Value}"/>
                    <img src="/pic/arrow-right.png" onclick="onOptionArrowClick(this);"/>

                </div>
                <div class="all-options-wrapper">
                    <div class="horizontal-option-all">
                        #foreach($option in ${entry.get("all").get(${entry.Value})})
                            <img src="/pic/${option}.png" alt="$option" onclick="onOptionClick(this);"/>
                        #end
                    </div>
                </div>
            </div>
        #end
        <input type="image" src="/pic/generate.png" alt="Generate">
    </div>
    <div id="target-source-wrapper">
$targetSourcePrefix
#if ($highlighted)$highlighted#end
$targetSourceSuffix
    </div>
</form>

