form {
    height: 97%;
}

form textarea {
    width: 100%;
    height: 100%;
    padding: 1em;
}

#content-border-box {
    border:1px inset;
    background-color:white;
    overflow:auto;
    width: 100%;
    height: 100%;
    float: left;
}

#target-source-wrapper {
    float: left;
    margin-left: 1em;
    width: 85%;
    height: 100%;
}

#highlighted-source {
    margin: 0;
    padding: 0 1em;
}

#source-options {
    float: left;
}

div.horizontal-option-wrapper, #target-source-wrapper {
    padding-top: 2em;
}

div.horizontal-option-wrapper img {
    width: 3em;
    height: 3em;
}

#source-options input[type=image] {
    margin-top: 3em;
    width: 7em;
    height: 3em;
}

.horizontal-option-current, .all-options-wrapper {
    float: left;
}

.all-options-wrapper img, .horizontal-option-current img + img {
    cursor: pointer;
}

.all-options-wrapper {
    display: none;
}

.horizontal-option-all {
    margin-left: 1em;
    position: absolute;
}